<form action='/tweets' method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Edit Tweet #<%=@tweet.id%>
  Content:
  <input type="text" name="content" value="<%=@tweet.content%>"><br>
  Edit This Tweet:
  <input type="submit" name="submit" id="submit">
</form>
