<form action='/tweets' method="post">
  Edit Tweet #<%=@tweet.id%>
  Content:
  <input type="text" name="content" value="<%=@tweet.content%>"><br>
  Edit This Tweet:
  <input type="submit" name="submit" id="submit">
</form>
