<form method="post" action="/signup">
  <label for="username">Username:</label>
  <input name="username" id="username" type="username">
  <label for="email">E-mail:</label>
  <input name="email" id="email" type="email">
  <label for="password">Password:</label>
  <input name="password" id="username" type="password">
  <input type="submit" value="Sign Up">
</form>
